<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
         <listener class-name="utilities.Listeners"/> 
         <listener class-name="utilities.ExtentReporterNG"/>
 </listeners>
  <test thread-count="5" name="Signinpage">
    <classes>
      <class name="pageobject.SigninPage"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="CartHandling">
    <classes>
      <class name="pageobject.CartHandling"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="CorporateGifts">
    <classes>
      <class name="pageobject.CorporateGifts"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="Gifts">
    <classes>
      <class name="pageobject.Gifts"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="HomeLifeStyle">
    <classes>
      <class name="pageobject.HomeandLifeStyle"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="MouseActions">
    <classes>
      <class name="pageobject.MouseActions"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="Top50">
    <classes>
      <class name="pageobject.Top50"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="SearchPage">
    <classes>
      <class name="pageobject.SearchPage"/>
    </classes>
  </test> <!-- Test -->
    <test thread-count="5" name="TrackOrderPage">
    <classes>
      <class name="pageobject.TrackOrderPage"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
